%h2 Thanks for your order.
#summary
  #cart
    .module
      %h4.shop-heading ORDER SUMMARY
      - if @cart.line_items.any?
        = render :partial => 'table2', :locals => { :cart => @cart }
      - else
        %p
          Your cart is currently empty.   
.clear

= hidden_field_tag(:step, 5)
= submit_tag "Continue"
