%h2.cart-head Your Shopping Cart
#cart
  = render :partial => 'table2', :locals => { :cart => @cart }
  %h3.cart-head
    Optional: RUSH ORDER processing service
  %table.cart
    %tbody
      %tr
        %td{ :rowspan => '2', :class => 'info-data'}
          %p 
            Need your prints right away? Then check out our "RUSH ORDER processing service". Get 
            %a{ :href => '/home_page/rush_services'}
              details.
          %ul.no-style
            %li 
              No thanks.
            %li 
              Yes, RUSH MY ORDER. For the RUSH ORDER processing service only, the additional charge is 100% of the product Sub Total. Your order will now ship in 2 to 3 business days.
              %br
              As per the shipping method you select below.
        %td.rush-data
          Product Sub Total $345.97
      %tr
        %td.rush-data
          RUSH ORDER
          %br
          Processing Charge $347.97
  %h3.cart-head
    SHIPPING METHOD
  %table.cart
    %tbody
      %tr
        %td{ :rowspan => '2', :class => 'info-data'}
          %h4.style-label
            Shipping To:
          %h5
            united states
          %br.clear
          %h4.style-label
            Method:
          %ul.shipping-select
            %li
              %input{ :type => 'radio'}
              %span
                Ground Shipping
              $9.97
            %li
              %input{ :type => 'radio'}
              %span
                Two Day Ship
              $13.97
            %li
              %input{ :type => 'radio'}
              %span
                Standard Overnight Ship
              $18.97
        %td.shipping-sub
          Sub SubTotal $1039.91
      %tr
        %td.shipping-sub
          Shipping
          $9.97
  .shipping-grand
    GRAND TOTAL $355.94
  /
    .promo-code
      %p
        Using a Coupon or Promotional Code?
      Enter you coupon code: 
      %input{ :type =>'text'}
      %a.button{ :href => '#'}
        Apply
    .promo-code
      Promo tie in
